<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
            <left_joint>
                FLWJoint
            </left_joint>
            <right_joint>
                FRWJoint
            </right_joint>
            
            <wheel_separation>0.065</wheel_separation>
            <wheel_radius>0.0175</wheel_radius>

            <max_linear_acceleration>1.0</max_linear_acceleration>
            <max_angular_acceleration>2.0</max_angular_acceleration>
            <max_wheel_torque>200</max_wheel_torque>
            <max_wheel_acceleration>10.0</max_wheel_acceleration>

            <min_velocity>-10.0</min_velocity>
            <max_velocity>10.0</max_velocity>

            <frame_id>odom</frame_id>
            <child_frame_id>base_footprint</child_frame_id>
            <!-- <odom_publish_frequency></odom_publish_frequency> -->
            <odom_topic>odom</odom_topic>
            <tf_topic>/tf</tf_topic>
            
            <topic>/cmd_vel</topic>
            <publish_odometry>true</publish_odometry>
            <publish_odometry_tf>true</publish_odometry_tf>
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_footprint</robot_base_frame>
        </plugin>

        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
            <topic>joint_states</topic>
            <joint_name>FLWJoint</joint_name>
            <joint_name>FRWJoint</joint_name>
            <joint_name>Front_right1_joint</joint_name>
            <joint_name>Front_right2_joint</joint_name>
            <joint_name>Back_right1_joint</joint_name>
            <joint_name>Back_right2_joint</joint_name>
            <joint_name>Front_left1_joint</joint_name>
            <joint_name>Front_left2_joint</joint_name>
            <joint_name>Back_left1_joint</joint_name>
            <joint_name>Back_left2_joint</joint_name>
        </plugin>

        <plugin filename="gz-sim-pose-publisher-system" name="gz::sim::systems::PosePublisher">
            <publish_link_pose>true</publish_link_pose>
            <use_pose_vector_msg>true</use_pose_vector_msg>
            <static_publisher>true</static_publisher>
            <publish_collision_pose>false</publish_collision_pose>
            <publish_visual_pose>false</publish_visual_pose>
            <publish_nested_model_pose>false</publish_nested_model_pose>
            <update_frequency>30</update_frequency>
        </plugin>

        <plugin
            filename="gz-sim-joint-position-controller-system"
            name="gz::sim::systems::JointPositionController">
            <topic>joint_position_controller</topic>
            <joint_name>Front_right1_joint</joint_name>
            <initial_position>0</initial_position>
            <joint_name>Front_right2_joint</joint_name>
            <initial_position>0</initial_position>
            <joint_name>Back_right1_joint</joint_name>
            <initial_position>0</initial_position>
            <joint_name>Back_right2_joint</joint_name>
            <initial_position>0</initial_position>
            <joint_name>Front_left1_joint</joint_name>
            <initial_position>0</initial_position>
            <joint_name>Front_left2_joint</joint_name>
            <initial_position>0</initial_position>
            <joint_name>Back_left1_joint</joint_name>
            <initial_position>0</initial_position>
            <joint_name>Back_left2_joint</joint_name>
            <initial_position>0</initial_position>
            <p_gain>10</p_gain>
            <i_gain>0.2</i_gain>
            <d_gain>0.05</d_gain>
            <i_max>1</i_max>
            <i_min>-1</i_min>
            <cmd_max>10</cmd_max>
            <cmd_min>-10</cmd_min>
        </plugin>
    </gazebo>

</robot>
